* {
    font-family: system-ui, -apple-system;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(160, 154, 154);
    margin: 0;
    height: 100%;
    overflow: hidden;
    animation: 0.5s fadeInUp;
    color: #f0ffff;
}

form {
    margin-bottom: 20px;
}

#chart {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #ff9d9d;
    border-radius: 50%;
    display: inline-block;
  }